body{
    background-color: white;
    background-image: url(../img/binary.jpg);
}

.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    backdrop-filter: blur(8px);
    border-radius: 3%;
    box-shadow: 0 0 20px 10px rgb(91, 204, 198);
}

img{
    width: 10%;
    border: 1px black solid;
    border-radius: 50%;
    box-shadow: 0 0 5px 3px rgb(91, 204, 198);
}
